@import "tailwindcss";

@theme {
  --color-cb-yellow: rgb(252, 238, 10);
  --color-cb-red: rgb(206, 43, 47);
  --color-cb-cyan: rgb(0, 240, 255);
  --color-cb-black: #050505;
}

@layer base {
  body {
    background-color: var(--color-cb-black);
    color: white;
  }
}